.cart {
  border: 2px solid black;
  padding: 20px;
}

.img {
  width: 100px;
  height: 100px;
}

.name {
  size: 18px;
  color: black;
  font-weight: bold;
}

.text {
  size: 18px;
  color: grey;
}

.list {
  display: flex;
  width: 100%;
}

.item {
  display: flex;
  padding: 10px;
  color: black;
  background-color: rgb(209, 205, 205);
  border: 2px solid rgb(109, 108, 108);
  width: 100px;
  height: 70px;
  justify-content: center;
  align-items: center;
}
