.cart {
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px 0 0;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-color: black;
  border: 2px solid white;
  justify-content: center;
}

.name {
  size: 22px;
  color: black;
  font-weight: bold;
  margin: 0;
}

.text {
  size: 18px;
  color: grey;
  margin: 0;
}

.list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: black;
  background-color: rgb(209, 205, 205);
  border-top: 2px solid rgb(109, 108, 108);
  border-right: 2px solid rgb(109, 108, 108);
  justify-content: center;
  align-items: center;
  flex: 1;
}

.item:last-child {
  border-right: none;
}
