.table {
  width: 100%;
  border-collapse: collapse;

  background-color: white;
  text-align: center;
}

.thead {
  color: white;
  background-color: black;
  text-transform: uppercase;
}

.td {
  padding: 5px;
  border: 1px solid black;
  color: black;
}

.th {
  padding: 5px;
  border: 1px solid gray;
  color: white;
}

.tr {
  &:nth-of-type(even) {
    background-color: rgb(196, 194, 190);
  }
}
